# Flutter / Dart
.dart_tool/
build/
.packages
.pub-cache/
.pub/
.flutter-plugins
.flutter-plugins-dependencies

# Android build outputs
*.apk
*.aab

# Database / backups
*.db
*.sqlite
*.sqlite3

# IDE
.vscode/
.idea/
*.iml

# OS
.DS_Store